<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}" dir="{{ site.Language.LanguageDirection | default "ltr" }}"
  {{- if (or (eq .Kind "page") (eq .Kind "section") ) }}
    data-theme="{{ site.Params.defaultTheme }}" class="page"
  {{- else }}
    data-theme="{{ site.Params.defaultTheme }}" class="list"
  {{- end }}>

<head>
  {{- partial "head.html" . }}
</head>

<body>
  <a href="#main-content" class="skip-link">Skip to content</a>
  {{- partial "header.html" . }}
  <main id="main-content">
    {{- block "main" . }}{{ end }}
  </main>
  {{- partial "footer.html" . }}
</body>
</html>
